{%extends 'base.html'%}
{% block content %}
<form method="POST" class="container">
    {% csrf_token %}
    <h2>Utwórz nową kategorię</h2>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Utwórz</button>
    <a href="{% url 'categories' %}" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}