{%extends 'base.html'%}
{% block content %}

<div class="container">
<h3>
Nazwa kategorii
</h3>
<div class="card">
{{ category.name }}
</div>
</div>
<div class="container">
<h3>Data utworzenia</h3>
<div class="card">
{{category.created_at}}
</div>
</div>
<div class="container">
<h3>Kolor</h3>
<div class="card">
{{ category.color }}
</div>
</div>