{%extends 'base.html'%}
{% block content %}
<div class="container">
    <h2>Lista kategorii</h2>
    <a href="{% url 'create_category' %}">Dodaj nową kategorię</a>
{%for category in categories%}
    <div class="container">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <a href="{% url 'edit_category' category.id %}">Edytuj</a>
        <a href="{% url 'delete_category' category.id %}">Usuń</a>
    </div>
{%endfor%}
{% endblock %}