{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Szczegóły konta "{{ account.name }}"</h2>
    <div class="card">
        <p><strong>Nazwa:</strong> {{ account.name }}</p>
        <p><strong>Opis:</strong> {{ account.description }}</p>
        <p><strong>Rodzaj:</strong> {{ account.get_account_type_display }}</p>
        <p><strong>Podrodzaj:</strong> {{ account.get_account_subtype_display }}</p>
        <p><strong>Stan początkowy:</strong> {{ account.initial_balance }}</p>
        <p><strong>Data utworzenia:</strong> {{ account.created_at }}</p>
        <p><strong>Księga:</strong> <a href="{% url 'book_details' account.book.id %}">{{ account.book.name }}</a></p>
    </div>

    <a href="{% url 'edit_account' account.id %}" class="btn btn-primary">✏️ Edytuj konto</a>
    <a href="{% url 'delete_account' account.id %}" class="btn btn-danger">🗑️ Usuń konto</a>

    <h3>📄 Transakcje</h3>
    <div class="transactions-container">
        <div class="debit">
            <h4>📉 Debet</h4>
            {% for debit in debits %}
            <div class="card">
                <p><strong>Data:</strong> {{ debit.date }}</p>
                <p><strong>Kwota:</strong> {{ debit.amount }}</p>
                <p><strong>Opis:</strong> {{ debit.description }}</p>
                <p><strong>Kategoria:</strong> {{ debit.category.name }}</p>
                <a href="{% url 'transaction_details' debit.id %}" class="btn btn-info">👀 Szczegóły</a>
            </div>
            {% endfor %}
        </div>

        <div class="credit">
            <h4>📈 Kredyt</h4>
            {% for credit in credis %}
            <div class="card">
                <p><strong>Data:</strong> {{ credit.date }}</p>
                <p><strong>Kwota:</strong> {{ credit.amount }}</p>
                <p><strong>Opis:</strong> {{ credit.description }}</p>
                <p><strong>Kategoria:</strong> {{ credit.category.name }}</p>
                <a href="{% url 'transaction_details' credit.id %}" class="btn btn-info">👀 Szczegóły</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <h3>💰 Saldo</h3>
    <p><strong>Saldo konta:</strong> {{ account.calculate_balance }}</p>
</div>
{% endblock %}