{%extends 'base.html'%}
{% block content %}
<div class="container">
    <h2>Raporty</h2>
    <a href="{% url 'create_report' %}">Dodaj nowy raport</a>
    {% for report in reports %}
        <div class="container">
            <h2>{{ report.name }}</h2>
            <p>{{ report.description }}</p>
            <a href="{% url 'report_details' report.id %}">Zobacz</a>
            <a href="{% url 'edit_report' report.id %}">Edytuj</a>
            <a href="{% url 'delete_report' report.id %}">Usuń</a>
        </div>
    {% endfor %}
</div>
{% endblock %}