{% extends "base.html" %}

{% block content %}
<h2>📚 Dodaj nową księgę</h2>
<div class="container">
    <form method="POST" action="{% url 'create_book' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">✔️ Dodaj księgę</button>
        <a href="{% url 'books' %}" class="btn btn-secondary">⬅️ Powrót do listy ksiąg</a>
    </form>
</div>
{% endblock %}
