{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>➕ Utwórz cel 🎯</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">✔️ Zapisz Cel</button>
    </form>
    <a href="{% url 'goals' %}" class="btn btn-secondary">⬅️ Anuluj</a>
{% endblock %}