{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>🗑️ Usuń cel 🎯</h2>
    <p>Czy na pewno chcesz usunąć cel "<strong>{{ goal.name }}</strong>"? Tej operacji nie można cofnąć.</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">🗑️ Usuń</button>
        <a href="{% url 'goals' %}" class="btn btn-secondary">⬅️ Anuluj</a>
    </form>
{% endblock %}