{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Transakcje</h2>

    <!-- Lista transakcji -->
    <div class="transactions-container" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; align-items: flex-start; margin-top: 20px;">
        {% for transaction in transactions %}
        <div class="card">
            <p><strong>ID:</strong> {{ transaction.id }}</p>
            <p><strong>Data:</strong> {{ transaction.date }}</p>
            <p><strong>Kwota:</strong> {{ transaction.amount }}</p>
            <p><strong>Opis:</strong> {{ transaction.description }}</p>
            <p><strong>Kategoria:</strong> {{ transaction.category.name }}</p>
            <p><strong>Konto:</strong> {{ transaction.account.name }}</p>
            <div class="actions">
                <a href="{% url 'transaction_details' transaction.id %}" class="btn btn-info">👀 Podgląd</a>
                <a href="{% url 'edit_transaction' transaction.id %}" class="btn btn-primary">✏️ Edytuj</a>
                <a href="{% url 'delete_transaction' transaction.id %}" class="btn btn-danger">🗑️ Usuń</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Dodaj transakcję -->
    <a href="{% url 'create_transaction' %}" class="btn btn-primary">Dodaj transakcję</a>
</div>
{% endblock %}